include ./pug/mixin.pug

doctype html
head
  meta(charset='UTF-8')
  link(rel='icon' type='image/svg+xml' href='/vite.svg')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Vite App
  link(rel='stylesheet' href='./reset.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@300;400;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='./app.css')
body
.tour-list
  -  for (var x=0;x<5;x++)
      + tourCard('./images/thailand.png','60','Thailands Ayutthaya Temples Cruise from Bangkok','4.8','12',9)
